body {
    cursor: url("../img/hammer.png"), auto;
}

.game {
    display: grid;
    grid-template-columns: 609px;
    gap: 10px;
}

.score-container {
    font-weight: bold;
    font-size: 35px;
    border: 2px solid black;
    background-color: rgb(34, 42, 90);
    text-align: center;
}

.score {
    color: green;
}

.misses {
    color: red;
}

.cells-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 3px;
}

.cell {
    background-color: yellow;
    border: 2px solid black;
}
